<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credencial Digital UPPE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Register.css') }}"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <span class="titulo-principal">KardexUPPE</span>
        <img
          src="{{ url_for('static', filename='Image/Logo_Blanco.png') }}"
          alt="logo UPPE"
          class="escudo"
        />
      </div>
    </header>

    <main class="main-body">
      <nav class="menu-lateral">
        <h2 class="menu-title">Menu</h2>
        <ul>
          <li><a href="{{url_for('admins_bp.inicio')}}">Inicio</a></li>
          <li>
            <a href="{{url_for('admins_bp.registerS')}}">Registar alumnos</a>
          </li>
          <li class="activo">
            <a href="{{url_for('admins_bp.registerU')}}">Registar empleados</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.registerM')}}">Registar materias</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.serch_student')}}">Buscar alumno</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.serch_staf')}}">Buscar Empleado</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.serch_subject')}}">Buscar Materia</a>
          </li>
          <li><a href="{{url_for('admins_bp.LogOut')}}">Cerrar sesión</a></li>
        </ul>
      </nav>

      <section class="contenido">
        <div class="credencial-card">
          <div class="header">
            <div class="title">
              <h1 class="profile-title">Registar usuarios</h1>
              <img
                src="{{ url_for('static', filename='Image/Correcaminos_azul.png') }}"
                alt="logo"
                class="roadrunner"
              />
              <p class="subtitle">Universidad Politécnica de Pénjamo</p>
            </div>
          </div>

          <div class="profile">
            <div class="inputs">
              <form method="POST" action="{{url_for("admins_bp.insert_admins")}}">
              <h3>Infomarción personal</h3>
              <div class="info">
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="names"
                    autocomplete="off"
                    class="input-info"
                    id="names"
                    placeholder="Ingrese los nombres"
                  />
                  <label class="label-info">Nombres</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="lastname1"
                    autocomplete="off"
                    class="input-info"
                    id="lastname1"
                    placeholder="Ingrese el primer apellido"
                  />
                  <label class="label-info">Primer apellido</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="lastname2"
                    autocomplete="off"
                    class="input-info"
                    id="lastname2"
                    placeholder="Ingrese el segundo apellido"
                  />
                  <label class="label-info">Segundo apellido</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="tel"
                    autocomplete="off"
                    class="input-info"
                    id="tel"
                    placeholder="Ingrese el numero de telefono"
                  />
                  <label class="label-info">Telefono</label>
                </div>
              </div>

              <h3>Dirección</h3>
              <div class="adress">
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="street"
                    autocomplete="off"
                    class="input-info"
                    id="street"
                    placeholder="Ingrese el nombre de la calle"
                  />
                  <label class="label-info">Calle</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="number"
                    autocomplete="off"
                    class="input-info"
                    id="number"
                    placeholder="Ingrese el numero de telefono"
                  />
                  <label class="label-info">Numero</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="zipCode"
                    autocomplete="off"
                    class="input-info"
                    id="zipCode"
                    placeholder="Ingrese el codigo postal"
                  />
                  <label class="label-info">Codigo postal</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="coliny"
                    autocomplete="off"
                    class="input-info"
                    id="coliny"
                    placeholder="Ingrese la colonia"
                  />
                  <label class="label-info">Colonia</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="city"
                    autocomplete="off"
                    class="input-info"
                    id="city"
                    placeholder="Ingrese la ciudad"
                  />
                  <label class="label-info">Ciudad</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="state"
                    autocomplete="off"
                    class="input-info"
                    id="state"
                    placeholder="Ingrese el estado"
                  />
                  <label class="label-info">Estado</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="country"
                    autocomplete="off"
                    class="input-info"
                    id="country"
                    placeholder="Ingrese la ciudad"
                  />
                  <label class="label-info">País</label>
                </div>
              </div>

              <h3>Usuario UPP</h3>
              <div class="user-info">
                <div class="input-wrapper">
                  <input
                    placeholder="Genere un correo electronico"
                    class="input"
                    name="emailInput"
                    type="text"
                    id="emailInput"
                  />
                  <button class="btnGenerate" type="button" onclick="generateInstitutionalEmail()">Generar correo</button>
                </div>
                <div class="input-wrapper">
                  <input
                    placeholder="Genere la contraseña"
                    class="input"
                    name="passwordInput"
                    type="text"
                    id="passwordInput"
                  />
                  <button class="btnGenerate" type="button" onclick="generatePassword()">Generar contraseña</button>
                </div>
                <div class="vacio">
                  Espacio       Ldejas
                </div>
                <label for="role">Rol: </label>
                <select name="role" id="role">
                  <option value="Docente">Docente</option>
                  <option value="Administrador">Administrador</option>
                </select>
              </div>
            </div>
          </div>

          <div class="btnBottom">
            <button class="btnContinue">Continuar</button>
          </div>
        </div>

      </form>
      </section>
    </main>
    <script type="" src="{{ url_for('static', filename='Js/Form.js') }}"></script>
  </body>
</html>
