<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credencial Digital UPPE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Register.css') }}"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <span class="titulo-principal">KardexUPPE</span>
        <img
          src="{{ url_for('static', filename='Image/Logo_Blanco.png') }}"
          alt="logo UPPE"
          class="escudo"
        />
      </div>
    </header>

    <main class="main-body">
      <nav class="menu-lateral">
        <h2 class="menu-title">Menu</h2>
        <ul>
          <li><a href="{{url_for('admins_bp.inicio')}}">Inicio</a></li>
          <li class="activo">
            <a href="">Registar alumnos</a>
          </li>
          <li><a href="{{url_for('admins_bp.registerU')}}" >Registar empleados</a></li>
          <li><a href="{{url_for('admins_bp.registerM')}}" >Registar materias</a></li>
          <li><a href="{{url_for('admins_bp.LogOut')}}" >Cerrar sesión</a></li>
        </ul>
      </nav>

      <section class="contenido">
        <div class="credencial-card">
          <div class="header">
            <div class="title">
              <h1 class="profile-title">Registar alumno</h1>
              <img
                src="{{ url_for('static', filename='Image/Correcaminos_azul.png') }}"
                alt="logo"
                class="roadrunner"
              />
              <p class="subtitle">Universidad Politécnica de Pénjamo</p>
            </div>
          </div>

          <div class="profile">
            <div class="inputs">
            <form method="POST" action="{{url_for("admins_bp.insert_student")}}">
              <h3>Infomarción personal</h3>
              <div class="info">
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="names"
                    autocomplete="off"
                    class="input-info"
                    id="names"
                  />
                  <label class="label-info">Nombres</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="lastname1"
                    autocomplete="off"
                    class="input-info"
                    id="lastname1"
                  />
                  <label class="label-info">Primer apellido</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="lastname2"
                    autocomplete="off"
                    class="input-info"
                    id="lastname2"
                  />
                  <label class="label-info">Segundo apellido</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="curp"
                    autocomplete="off"
                    class="input-info"
                    id="curp"
                  />
                  <label class="label-info">CURP</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="tel"
                    autocomplete="off"
                    class="input-info"
                    id="tel"
                  />
                  <label class="label-info">Telefono</label>
                </div>
            </div>

              <h3>Dirección</h3>
              <div class="adress">
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="street"
                    autocomplete="off"
                    class="input-info"
                    id="street"
                  />
                  <label class="label-info">Calle</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="number"
                    autocomplete="off"
                    class="input-info"
                    id="number"
                  />
                  <label class="label-info">Numero</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="zipCode"
                    autocomplete="off"
                    class="input-info"
                    id="zipCode"
                  />
                  <label class="label-info">Codigo postal</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="coliny"
                    autocomplete="off"
                    class="input-info"
                    id="coliny"
                  />
                  <label class="label-info">Colonia</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="city"
                    autocomplete="off"
                    class="input-info"
                    id="city"
                  />
                  <label class="label-info">Ciudad</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="state"
                    autocomplete="off"
                    class="input-info"
                    id="state"
                  />
                  <label class="label-info">Estado</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="country"
                    autocomplete="off"
                    class="input-info"
                    id="country"
                  />
                  <label class="label-info">País</label>
                </div>
              </div>

              <h3>Usuario UPP</h3>
              <div class="user-info">
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="matricula"
                    autocomplete="off"
                    class="input-info"
                    id="matricula"
                  />
                  <label class="label-info">Matricula</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="quarter"
                    autocomplete="off"
                    class="input-info"
                    id="quarter"
                  />
                  <label class="label-info">Cuatrimestre</label>
                </div>
                <div class="input-group">
                  <input
                    required=""
                    type="text"
                    name="group"
                    autocomplete="off"
                    class="input-info"
                    id="group"
                  />
                  <label class="label-info">Grupo</label>
                </div>
                <div class="vacio1">
                    Espacio
                  </div>
                <div class="input-wrapper">
                  <input
                    placeholder="Genere un correo electronico"
                    class="input"
                    name="emailInput"
                    type="text"
                    id="emailInput"
                  />
                  <button class="btnGenerate" type="button" onclick="generateEmail()">Generar correo</button>
                </div>
                <div class="input-wrapper">
                  <input
                    placeholder="Genere la contraseña"
                    class="input"
                    name="passwordInput"
                    type="text"
                    id="passwordInput"
                  />
                  <button class="btnGenerate" type="button" onclick="generatePassword()">Generar contraseña</button>
                </div>
                <div class="input-group">
                  <label for="role">Carrera: </label>
                  <select name="role" id="role">
                    <option value="LAGE">
                      Licenciatura en Administración y Gestión Empresarial
                    </option>
                    <option value="LA">Licenciatura en Administración</option>
                    <option value="LIL">
                      Licenciatura en Ingeniería en Logística
                    </option>
                    <option value="LITIID">
                      Licenciatura en Ingeniería en Tecnologías de la Información
                      e Innovación Digital
                    </option>
                    <option value="LIA">
                      Licenciatura en Ingeniería en Alimentos (Agroindustria)
                    </option>
                    <option value="LIB">
                      Licenciatura en Ingeniería en Biotecnología
                    </option>
                    <option value="LII">
                      Licenciatura en Ingeniería Industrial
                    </option>
                    <option value="LIM">
                      Licenciatura en Ingeniería Mecatrónica
                    </option>
                    <option value="LIAU">
                      Licenciatura en Ingeniería Automotriz
                    </option>
                  </select>
                </div>
              </div>
            </div>
            
          </div>
          <div class="btnBottom">
            <button class="btnContinue">Continuar</button>
          </div>
        </form>
        </div>
        
      </section>
    </main>

    <script type="" src="{{ url_for('static', filename='Js/Form.js') }}"></script>
  </body>
</html>
