<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Buscar ALumnos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Serch.css') }}"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <span class="titulo-principal">KardexUPPE</span>
        <img
          src="{{ url_for('static', filename='Image/Logo_Blanco.png') }}"
          alt="logo UPPE"
          class="escudo"
        />
      </div>
    </header>

    <main class="main-body">
      <nav class="menu-lateral">
        <h2 class="menu-title">Menu</h2>
        <ul>
          <li><a href="{{url_for('admins_bp.inicio')}}">Inicio</a></li>
          <li>
            <a href="{{url_for('admins_bp.registerS')}}">Registar alumnos</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.registerU')}}">Registar empleados</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.registerM')}}">Registar materias</a>
          </li>
          <li class="activo">
            <a href="{{url_for('admins_bp.serch_student')}}">Buscar alumno</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.serch_staf')}}">Buscar Empleado</a>
          </li>
          <li>
            <a href="{{url_for('admins_bp.serch_subject')}}">Buscar Materia</a>
          </li>
          <li><a href="{{url_for('admins_bp.LogOut')}}">Cerrar sesión</a></li>
        </ul>
      </nav>

      <section class="contenido">
        <div class="credencial-card">
          <div class="header">
            <div class="title">
              <h1 class="profile-title">Buscar Alumno</h1>
              <img
                src="{{ url_for('static', filename='Image/Correcaminos_azul.png') }}"
                alt="logo"
                class="roadrunner"
              />
              <p class="subtitle">Universidad Politécnica de Pénjamo</p>
            </div>
          </div>

          <div class="profile">
            <div class="info"></div>
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Correo</th>
                  <th>Matricula</th>
                  <th>Carrera</th>
                  <th>Cuatrimestre</th>
                  <th>Grupo</th>
                </tr>
              </thead>
              <tbody>
                {% for fila in datos %}
                <tr>
                  <td>
                    {{ fila['nombre'] }} {{ fila['apellidoPaterno'] }} {{
                    fila['apellidoMaterno']}}
                  </td>
                  <td>{{ fila['telefono'] or 'No encontrado' }}</td>
                  <td>{{ fila['correo'] }}</td>
                  <td>{{ fila['matricula'] }}</td>
                  <td>{{ fila['carrera'] }}</td>
                  <td>{{ fila['cuatrimestre'] }}</td>
                  <td>{{ fila['grupo'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
