<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendario Escolar 2025</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Css/Calendar.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img
        src="{{ url_for('static', filename='Image/Calendario.jpg') }}"
        alt="Calendario Escolar 2025"
      />
    </div>
  </body>
</html>
