<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registar Calificaciones</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Qualifications.css') }}"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <span class="titulo-principal">KardexUPPE</span>
        <img
          src="{{ url_for('static', filename='Image/Logo_Blanco.png') }}"
          alt="logo UPPE"
          class="escudo"
        />
      </div>
    </header>

    <main class="main-body">
      <nav class="menu-lateral">
        <h2 class="menu-title">Menu</h2>
        <ul>
          <li><a href="{{url_for('teacher_bp.inicio')}}">Inicio</a></li>
          <li class="activo"><a href="" >Registar Calificaciones</a></li>
          <li><a href="" >Tutorias<a></li>
          <li><a href="{{url_for('teacher_bp.LogOut')}}" >Cerrar sesión</a></li>
        </ul>
      </nav>

      <section class="contenido">
        <div class="credencial-card">
          <div class="header">
            <div class="title">
              <h1 class="profile-title">Credencial Escolar</h1>
              <img
                src="{{ url_for('static', filename='Image/Correcaminos_azul.png') }}"
                alt="logo"
                class="roadrunner"
              />
              <p class="subtitle">Universidad Politécnica de Pénjamo</p>
            </div>
          </div>

          <div class="profile">
            <div class="info">
                <form action="{{url_for('teacher_bp.excel')}}" method="POST" enctype="multipart/form-data">
                    <label for="excelFile">📂 Cargar archivo Excel:</label>
                    <input type="file" id="excelFile" name="excelFile" accept=".xlsx,.xls" required>
                    <button type="submit">Subir archivo</button>
                </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
